<div class="container">

  <form [formGroup]="userForm" (ngSubmit)="updateJob()">
    <div class="form-group">
      <label for="jobName">Job Name:</label>
      <div class="input-container">
        <input type="text" id="jobName" name="jobName" formControlName="jobName" placeholder="Enter job name">
        <button type="button" class="add-btn" (click)="toggleTitleAndDescription('job')">+</button>
      </div>
      <div *ngIf="showTitleAndDescription.job" class="sub-fields">
        <input type="text" id="jobTitle" name="jobTitle" formControlName="jobTitle" placeholder="Enter job title">
        <textarea id="jobDescription" name="jobDescription" rows="4" formControlName="jobDescription"
          placeholder="Enter job description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="jobRole">Job Role:</label>
      <div class="input-container">
        <select id="jobRole" name="jobRole" formControlName="jobRole" placeholder="selectedJob.jobRole"
          [(ngModel)]="selectedJob.jobRole" required>
          <option value="manager" [selected]="selectedJob.jobRole === 'Software Intern'">Software Intern</option>
          <option value="developer" [selected]="selectedJob.jobRole === 'Software Developer'">Software Developer
          </option>
          <option value="designer" [selected]="selectedJob.jobRole === 'Software Tester'">Software Tester</option>
          <!-- Add more job role options here -->
        </select>
        <button type="button" class="add-btn" (click)="toggleTitleAndDescription('role')">+</button>
      </div>
      <div *ngIf="showTitleAndDescription.role" class="sub-fields">
        <input type="text" id="roleTitle" name="roleTitle" formControlName="roleTitle" placeholder="Enter role title">
        <textarea id="roleDescription" name="roleDescription" rows="4" formControlName="roleDescription"
          placeholder="Enter role description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label for="startDate">Start From:</label>
      <input type="date" id="startDate" name="startDate" formControlName="startDate"
        [value]="selectedJob.startDate | date:'yyyy-MM-dd'" required>
    </div>
    <div class="form-group">
      <label for="endDate">To:</label>
      <input type="date" id="endDate" name="endDate" formControlName="endDate"
        [value]="selectedJob.endDate | date:'yyyy-MM-dd'" required>
    </div>
    <div class="form-group">
      <label for="venue">Venue:</label>
      <input type="text" id="venue" name="venue" placeholder="Enter venue" formControlName="venue" required>
    </div>
    <div class="form-group">
      <label for="thingsToRemember">Things To Remember:</label>
      <textarea id="thingsToRemember" name="thingsToRemember" formControlName="thingsToRemember" rows="4"
        placeholder="Enter things to remember" required></textarea>
    </div>
    <div class="form-group">
      <label for="timeSlots">Time Slot:</label>
      <select id="timeSlots" name="timeSlots" formControlName="timeSlots" multiple required>
        <option value="9:00:00">9:00:00-11:00:00Am</option>
        <option value="11:00:00">12:00:00-2:00:00Pm</option>
        <option value="3:00:00">3:00:00-5:00:00Pm</option>

      </select>
    </div>
    <div class="form-group">
      <label for="package">Package:</label>
      <input type="text" id="package" name="package" formControlName="package" placeholder="Enter package" required>
    </div>
    <div class="form-group">
      <button type="submit" class="submit-btn">Add Job</button>
    </div>
  </form>
</div>