<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="card text-center" style="width: 300px;">
        <div class="card-header h5 text-white bg-success">Forgot Password</div>
        <div class="card-body px-5">
            
            <div class="form-outline">
                
                <input type="email" id="typeEmail" class="form-control my-3" placeholder="Enter Your Email" [(ngModel)]="email"/>
                
            </div>
            <button class="btn btn-success w-100"  (click)="resetPassword()">Reset password</button>
           
        </div>
    </div>
</div>
